
div#title-banner {
    background-color: rgb(34, 62, 138);
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    text-align: center;
}

div#lower-banner {
    background-color: rgb(34, 62, 138);
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    text-align: center;
}

div#title-inner {
    text-align: center;
}

/* div.title-icon {
    width: 100px;
} */

span#socials {
    font-size: 32px;
}

img.title-icon {
    width: 120px;
}

div.pack-container {
    background-color: rgb(233, 233, 233);
    padding: 0.1px 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 2px;
}

div.pack-preview {
    min-height: 120px;
    max-height: 120px;
    background-color: rgb(255, 255, 255);
    margin: 2px -13px;
    cursor: pointer;
}

h2.pack-title {
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

p.pack-description {
    font-size: 14px;
    padding-left: 10px;
    max-height: 40px;
    padding-right: 5px;
    overflow-y: hidden;
}

img.pack-icon {
    width: 90px;
    image-rendering: pixelated;
}

div.pack-configure-cog {
    position: absolute;
    right: 10px;
    font-size: 25px;
    color: rgb(118, 139, 156);
}

div.pack-configure-cog:hover {
    color: rgb(34, 62, 138);
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

span.module-price {
    color: rgb(23, 78, 199);
    font-weight: bold;
    font-size: 16px;
}

i.purchase-code-icon {
    margin-left: 5px;
    margin-right: 5px;
}

div#purchase-code {
    max-width: 200px;
    word-break:break-all;
    background-color: rgb(63, 84, 141);
    font-style: italic;
    color:rgb(0, 238, 255)
}

p#purchase-instructions {
    max-width: 400px;
}

a.bot-name {
    color:rgb(130, 248, 219);
    font-size: 18px;
    font-weight: bold;
}

a.blue-link {
    color: rgb(130, 248, 219)
}